*.rbc
capybara-*.html
.rspec
/log
/tmp
# databases
/db/*.sqlite3
/db/*.sqlite3-journal

# runtime assets
/public/system
/public/assets
/coverage/
/storage/*
!/storage/.keep

# temp files
/spec/tmp
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# temp files
*.orig
rerun.txt
pickle-email-*.html

# secrets
config/initializers/secret_token.rb
config/master.key
config/secrets.yml

# environments + history
.powenv
.env
.byebug_history
/.bundle
/vendor/bundle
.rvmrc

# bower + webpack + node + yarn
/vendor/assets/bower_components
*.bowerrc
bower.json
node_modules/
/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity

